Accounting/target/
Accounting/bin/
Accounting/.gradle
Accounting/build

*.gradle~
*.md~
*.txt~

*.properties~
SaaSMetrics4J.properties
*.classpath

*.groovy~

Accounting/scripts/tmp.txt

Accounting/tmp.txt

Accounting/tmp.txt
